.address-form {
  width: 100%;
}

.form-group {
  margin-bottom: 16px;
  width: 100%;
}

select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

select {
  appearance: none; /* Loại bỏ giao diện mặc định của select */
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4L2 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  resize: vertical; /* Cho phép thay đổi kích thước chiều dọc */
  font-size: 16px;
}

select:focus,
textarea:focus,
input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.form-group {
  flex: 1;
  margin-right: 1rem;
}

.form-group:last-child {
  margin-right: 0;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.error-message {
  color: red;
  font-size: 12px;
}
