.table-container {
  background-color: '';
  max-width: 800px;
  margin: 0 auto;
}

.table {
  /* min-width: 600px; */
  font-size: 0.875rem;
}

.table-cell {
}

.table-cell-small {
  font-size: 0.75rem;
  padding: 2px 0 2px 6px;
}
